<div class="container">
    <div class="row">
      <div class="col-12-lg ">
        <div class="my-5">
          <div class="text-center">
            <div class="py-5" >
              <h2 class="text-dark">UserLogin</h2>
             <form [formGroup]="login" (ngSubmit)="userLogin()" *ngIf="condition">
              <mat-form-field>
                <mat-label>username</mat-label>
                 <input type="text"  matInput placeholder="Enter Phone Number" formControlName="phone" name="Phonenumber">
                  </mat-form-field>
                  <p class="alert alert-danger" *ngIf="minlength">
                    Your phone must be at least 10 characters long.
                </p>
                  <br>
                    <mat-form-field>
                    <mat-label>password</mat-label>
                      <input type="text" matInput placeholder="password" formControlName="pass" name="password" >
                      </mat-form-field>
                      <p class="alert alert-danger" *ngIf="minpass">
                        Your password must be at least 6 characters long.
                    </p>
                  <br>
                    <button mat-raised-button color="warn" type="submit">Sigin</button>
             </form>
             {{error}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
