<div class="container">
    <div class="row">
      <div class="col-12-lg ">
        <div class="my-5">
          <div class="text-center">
            <div class="py-5" >
              <h2 class="text-dark">Student Details</h2>
             <form [formGroup]="teacher" (ngSubmit)="teacherSaved()">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                 <input type="text"  matInput placeholder="First Name" formControlName="firstname" name="firstname">
            </mat-form-field>
            <br>
            <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input type="text"  matInput placeholder="Last Name" formControlName="lastname" name="lastname" >
            </mat-form-field>
            <br>
            <mat-form-field>
            <mat-label>Teacher Id</mat-label>
             <input type="text"  matInput placeholder="teacherid" formControlName="teacherid" name="teacherid" > 
             </mat-form-field>
               <br>
            <mat-form-field>
            <mat-label>Subject</mat-label>
              <input type="text"  matInput placeholder="Subject" formControlName="sub" name="subject" >
            </mat-form-field>
           <br>
             <mat-form-field>
                <mat-label>Class</mat-label>
                  <input type="text"  matInput placeholder="Class" formControlName="class" name="class" >
             </mat-form-field>
             <br>
           <button mat-raised-button color="primary" type="submit" >saved</button>
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

