<div class="container">
    <div class="row">
      <div class="col-12-lg ">
        <div class="my-5">
          <div class="text-center">
            <div class="py-5" >
              <h2 class="text-dark">Student Details</h2>
             <form [formGroup]="student" (ngSubmit)="studentSaved()">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                 <input type="text"  matInput placeholder="First Name" formControlName="firstname" name="firstname">
            </mat-form-field>
            <br>
            <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input type="text"  matInput placeholder="Last Name" formControlName="lastname" name="lastname" >
            </mat-form-field>
            <br>
            <mat-form-field>
            <mat-label>Age</mat-label>
             <input type="text"  matInput placeholder="Age" formControlName="age" name="age" > 
             </mat-form-field>
               <br>
            <mat-form-field>
            <mat-label>Subject</mat-label>
              <input type="text"  matInput placeholder="Subject" formControlName="sub" name="sub" >
            </mat-form-field>
           <br>
             <mat-form-field>
                <mat-label>Class</mat-label>
                  <input type="text"  matInput placeholder="Class" formControlName="class" name="class" >
             </mat-form-field>
             <br>
              <mat-form-field>
                    <mat-label>Phone</mat-label>
                 <input type="text"  matInput placeholder="Phone" formControlName="phone" name="phone" >
               </mat-form-field>
             <br>

            <button mat-raised-button color="primary" type="submit" >saved</button>
             </form>
            </div>
          </div>
        </div>
        <div class="col-12-lg">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> FirstName </th>
              <td mat-cell *matCellDef="let element">{{element.firstname}}</td>
            </ng-container>
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> LastName </th>
                <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
              </ng-container>
              <ng-container matColumnDef="sub">
                <th mat-header-cell *matHeaderCellDef> Subject </th>
                <td mat-cell *matCellDef="let element"> {{element.sub}} </td>
              </ng-container>
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
              </ng-container>
              <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef> Class </th>
                <td mat-cell *matCellDef="let element"> {{element.class}} </td>
              </ng-container>
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>
              <ng-container matColumnDef='action'>
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button color="warn" (click)="open(content,row)"> <mat-icon>edit</mat-icon> </button>
                </td>
              </ng-container >
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <ng-template #content>
          <form [formGroup]="update" (ngSubmit)="onUpdate()">
           <div mat-dialog-title>
            <h1 > Student Edit</h1>
         </div>
         <div mat-dialog-content>
         <label for="">FirstName</label>
         <input type="text" class="form-control" formControlName="firstname" name="firstname">
         </div>
         <div mat-dialog-content>
         <label for="">LastName</label>
         <input type="text" class="form-control" formControlName="lastname" name="lastname">
         </div>
         <div mat-dialog-content>
          <label for="">Subject</label>
          <input type="text" class="form-control" formControlName="sub" name="sub">
          </div>
          <div mat-dialog-content>
            <label for="">Age</label>
            <input type="text" class="form-control" formControlName="age" name="age">
            </div>
            <div mat-dialog-content>
              <label for="">Class</label>
              <input type="text" class="form-control" formControlName="class" name="class">
            </div>
            <div mat-dialog-content>
              <label for="">Phone</label>
              <input type="text" class="form-control" formControlName="phone" name="phone">
            </div>
         <div mat-dialog-actions>
         <button mat-button mat-dialog-close type="submit" class="btn btn-outline-primary" >Ok</button>
         <button mat-button mat-dialog-close class="btn btn-outline-danger">close</button>
         </div>
          </form>
         </ng-template>
        </div>
      </div>
    </div>
  </div>
